In [53]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [54]:

df=pd.read_csv('yield.csv')

In [55]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400

In [56]:
df.dtypes

Domain Code     object
Domain          object
Area Code        int64
Area            object
Element Code     int64
Element         object
Item Code        int64
Item            object
Year Code        int64
Year             int64
Unit            object
Value            int64
dtype: object

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56717 entries, 0 to 56716
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   56717 non-null  object
 1   Domain        56717 non-null  object
 2   Area Code     56717 non-null  int64
 3   Area          56717 non-null  object
 4   Element Code  56717 non-null  int64
 5   Element       56717 non-null  object
 6   Item Code     56717 non-null  int64
 7   Item          56717 non-null  object
 8   Year Code     56717 non-null  int64
 9   Year          56717 non-null  int64
 10  Unit          56717 non-null  object
 11  Value         56717 non-null  int64
dtypes: int64(6), object(6)
memory usage: 5.2+ MB

In [58]:
df.isnull().sum()

Domain Code     0
Domain          0
Area Code       0
Area            0
Element Code    0
Element         0
Item Code       0
Item            0
Year Code       0
Year            0
Unit            0
Value           0
dtype: int64

In [59]:
df_pesti=pd.read_csv('pesticides.csv')

In [60]:
df_pesti.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4349 entries, 0 to 4348
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domain   4349 non-null   object
 1   Area     4349 non-null   object
 2   Element  4349 non-null   object
 3   Item     4349 non-null   object
 4   Year     4349 non-null   int64
 5   Unit     4349 non-null   object
 6   Value    4349 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 238.0+ KB

In [61]:
df_pesti.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Use,Pesticides (total),1990,tonnes of active ingredients,121.0
1,Pesticides Use,Albania,Use,Pesticides (total),1991,tonnes of active ingredients,121.0
2,Pesticides Use,Albania,Use,Pesticides (total),1992,tonnes of active ingredients,121.0
3,Pesticides Use,Albania,Use,Pesticides (total),1993,tonnes of active ingredients,121.0
4,Pesticides Use,Albania,Use,Pesticides (total),1994,tonnes of active ingredients,201.0

In [62]:
df_pesti.isnull().sum()

Domain     0
Area       0
Element    0
Item       0
Year       0
Unit       0
Value      0
dtype: int64

In [63]:
df_temp=pd.read_csv('temp.csv')

In [64]:
df_temp.head(n=10)

   year        country  avg_temp
0  1849  Côte D'Ivoire     25.58
1  1850  Côte D'Ivoire     25.52
2  1851  Côte D'Ivoire     25.67
3  1852  Côte D'Ivoire       NaN
4  1853  Côte D'Ivoire       NaN
5  1854  Côte D'Ivoire       NaN
6  1855  Côte D'Ivoire       NaN
7  1856  Côte D'Ivoire     26.28
8  1857  Côte D'Ivoire     25.17
9  1858  Côte D'Ivoire     25.49

In [65]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71311 entries, 0 to 71310
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      71311 non-null  int64
 1   country   71311 non-null  object
 2   avg_temp  68764 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

In [66]:
df_temp.isnull().sum()

year           0
country        0
avg_temp    2547
dtype: int64

In [67]:
df_temp['avg_temp']=df_temp['avg_temp'].fillna(df_temp['avg_temp'].mode()[0])

In [68]:
df_temp.isnull().sum()

year        0
country     0
avg_temp    0
dtype: int64

In [69]:
df_rain=pd.read_csv('rainfall.csv')

In [70]:
df_rain.head()

          Area  Year average_rain_fall_mm_per_year
0  Afghanistan  1985                           327
1  Afghanistan  1986                           327
2  Afghanistan  1987                           327
3  Afghanistan  1989                           327
4  Afghanistan  1990                           327

In [71]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0    Area                          6727 non-null   object
 1   Year                           6727 non-null   int64
 2   average_rain_fall_mm_per_year  5953 non-null   object
dtypes: int64(1), object(2)
memory usage: 157.8+ KB

In [72]:
df_rain.isnull().sum()

 Area                              0
Year                               0
average_rain_fall_mm_per_year    774
dtype: int64

In [73]:
df_rain['average_rain_fall_mm_per_year']=df_rain['average_rain_fall_mm_per_year'].fillna(df_rain['average_rain_fall_mm_per_year'].mode()[0])

In [74]:
df_temp['country'].unique()

array(["Côte D'Ivoire", 'United Arab Emirates', 'Nigeria', 'Ghana',
       'Turkey', 'Australia', 'India', 'United States', 'Egypt',
       'Algeria', 'Kazakhstan', 'Netherlands', 'China', 'Madagascar',
       'Eritrea', 'Greece', 'Iraq', 'Azerbaijan', 'Mali', 'Indonesia',
       'Thailand', 'Central African Republic', 'Spain', 'Venezuela',
       'Colombia', 'Lebanon', 'United Kingdom', 'Serbia', 'Brazil',
       'Libya', 'Germany', 'Switzerland', 'Guinea Bissau', 'Slovakia',
       'Congo', 'Belgium', 'Romania', 'Hungary', 'Burundi', 'Morocco',
       'Russia', 'Moldova', 'Sri Lanka', 'Guinea', 'Denmark', 'Argentina',
       'Senegal', 'Syria', 'Tanzania', 'Bangladesh', 'Qatar', 'Cameroon',
       'Ireland', 'South Africa', 'Tajikistan', 'Mexico', 'Pakistan',
       'Sierra Leone', 'Botswana', 'Guyana', 'Guatemala', 'Ecuador',
       'Vietnam', 'Zimbabwe', 'Finland', 'Japan', 'Sudan', 'Afghanistan',
       'Uganda', 'Taiwan', 'Nepal', 'Ukraine', 'Rwanda', 'Canada',
       'Jamaica', 'Congo (Democratic Republic Of The)', 'Malaysia',
       'Bolivia', 'Gabon', 'Malawi', 'Peru', 'Portugal', 'Slovenia',
       'Chile', 'Angola', 'Zambia', 'Equatorial Guinea', 'Nicaragua',
       'Bahrain', 'Philippines', 'Mozambique', 'Lesotho', 'Iran',
       'Saudi Arabia', 'Italy', 'Belarus', 'Somalia', 'Liberia',
       'Uruguay', 'Kenya', 'Bahamas', 'Niger', 'Mauritania', 'Norway',
       'Burkina Faso', 'Suriname', 'France', 'Montenegro', 'Haiti',
       'Mauritius', 'Papua New Guinea', 'Czech Republic', 'Latvia',
       'El Salvador', 'Dominican Republic', 'Bosnia And Herzegovina',
       'South Korea', 'Hong Kong', 'Singapore', 'Macedonia', 'Bulgaria',
       'Sweden', 'Estonia', 'Uzbekistan', 'Georgia', 'Honduras',
       'Albania', 'Tunisia', 'Mongolia', 'Austria', 'Laos', 'Lithuania',
       'Poland', 'New Zealand', 'Namibia', 'Armenia', 'Croatia'],
      dtype=object)

In [75]:
df_temp=df_temp.rename(columns={'country':'Area'})

In [76]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71311 entries, 0 to 71310
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      71311 non-null  int64
 1   Area      71311 non-null  object
 2   avg_temp  71311 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

In [77]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400

In [78]:
df_rain = df_rain.rename(columns={' Area':'Area'})

In [79]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           6727 non-null   object
 1   Year                           6727 non-null   int64
 2   average_rain_fall_mm_per_year  6727 non-null   object
dtypes: int64(1), object(2)
memory usage: 157.8+ KB

In [80]:
merged = pd.merge(df,df_pesti, on=['Area','Year'], how='inner')

In [81]:
merged = pd.merge(merged,df_rain, on=['Area','Year'], how='inner')

In [82]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71311 entries, 0 to 71310
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      71311 non-null  int64
 1   Area      71311 non-null  object
 2   avg_temp  71311 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

In [83]:
df_temp = df_temp.rename(columns={'year':'Year'})

In [84]:
merged = pd.merge(merged,df_temp, on=['Area','Year'], how='inner')

In [85]:
merged.head()

,Domain Code,Domain_x,Area Code,Area,Element Code,Element_x,Item Code,Item_x,Year Code,Year,Unit_x,Value_x,Domain_y,Element_y,Item_y,Unit_y,Value_y,average_rain_fall_mm_per_year,avg_temp
0,QC,Crops,3,Albania,5419,Yield,56,Maize,1990,1990,hg/ha,36613,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.0,1485,16.37
1,QC,Crops,3,Albania,5419,Yield,56,Maize,1991,1991,hg/ha,29068,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.0,1485,15.36
2,QC,Crops,3,Albania,5419,Yield,56,Maize,1992,1992,hg/ha,24876,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.0,1485,16.06
3,QC,Crops,3,Albania,5419,Yield,56,Maize,1993,1993,hg/ha,24185,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,121.0,1485,16.05
4,QC,Crops,3,Albania,5419,Yield,56,Maize,1994,1994,hg/ha,25848,Pesticides Use,Use,Pesticides (total),tonnes of active ingredients,201.0,1485,16.96

In [86]:
merged['Item_x'].unique()

array(['Maize', 'Potatoes', 'Rice, paddy', 'Sorghum', 'Soybeans', 'Wheat',
       'Cassava', 'Sweet potatoes', 'Plantains and others', 'Yams'],
      dtype=object)

In [87]:
merged.columns

Index(['Domain Code', 'Domain_x', 'Area Code', 'Area', 'Element Code',
       'Element_x', 'Item Code', 'Item_x', 'Year Code', 'Year', 'Unit_x',
       'Value_x', 'Domain_y', 'Element_y', 'Item_y', 'Unit_y', 'Value_y',
       'average_rain_fall_mm_per_year', 'avg_temp'],
      dtype='object')

In [88]:
merged=merged.drop(columns=['Domain Code', 'Domain_x', 'Area Code', 'Element Code',
       'Element_x', 'Item Code', 'Year Code','Unit_x',
       'Domain_y', 'Element_y', 'Item_y', 'Unit_y'])

In [89]:
merged.info

<bound method DataFrame.info of            Area Item_x  Year  Value_x  Value_y average_rain_fall_mm_per_year  \
0       Albania  Maize  1990    36613   121.00                          1485
1       Albania  Maize  1991    29068   121.00                          1485
2       Albania  Maize  1992    24876   121.00                          1485
3       Albania  Maize  1993    24185   121.00                          1485
4       Albania  Maize  1994    25848   201.00                          1485
...         ...    ...   ...      ...      ...                           ...
28243  Zimbabwe  Wheat  2009    30000  3269.99                           657
28244  Zimbabwe  Wheat  2010    27681  3305.17                           657
28245  Zimbabwe  Wheat  2011    26274  3340.35                           657
28246  Zimbabwe  Wheat  2012    24420  3375.53                           657
28247  Zimbabwe  Wheat  2013    22888  2550.07                           657

       avg_temp
0         16.37
1         15.36
2         16.06
3         16.05
4         16.96
...         ...
28243     20.52
28244     21.17
28245     20.78
28246     20.52
28247     19.76

[28248 rows x 7 columns]>

In [90]:
merged.head()

,Area,Item_x,Year,Value_x,Value_y,average_rain_fall_mm_per_year,avg_temp
0,Albania,Maize,1990,36613,121.0,1485,16.37
1,Albania,Maize,1991,29068,121.0,1485,15.36
2,Albania,Maize,1992,24876,121.0,1485,16.06
3,Albania,Maize,1993,24185,121.0,1485,16.05
4,Albania,Maize,1994,25848,201.0,1485,16.96

In [91]:
merged =merged.rename(columns={'Item_x':'Crop_Name','Value_x':'Yield','Value_y':'Pesticide_value'})

In [92]:
merged.head()

,Area,Crop_Name,Year,Yield,Pesticide_value,average_rain_fall_mm_per_year,avg_temp
0,Albania,Maize,1990,36613,121.0,1485,16.37
1,Albania,Maize,1991,29068,121.0,1485,15.36
2,Albania,Maize,1992,24876,121.0,1485,16.06
3,Albania,Maize,1993,24185,121.0,1485,16.05
4,Albania,Maize,1994,25848,201.0,1485,16.96

In [113]:
merged['average_rain_fall_mm_per_year'].unique()

array([1485.        ,   89.        , 1010.        ,  591.        ,
        562.        ,  534.        , 1110.        ,  447.        ,
       1149.05598045, 1292.        ,   83.        , 2666.        ,
        618.        ,  847.        ,  416.        , 1761.        ,
        608.        ,  748.        , 1274.        , 1604.        ,
        537.        , 1342.        , 1522.        , 3240.        ,
       1113.        ,  703.        , 1410.        , 2274.        ,
         51.        , 1784.        ,  383.        ,  626.        ,
        536.        ,  867.        ,  700.        , 1187.        ,
        652.        , 1996.        , 1651.        , 2387.        ,
       1440.        , 1976.        ,  589.        , 1083.        ,
       2702.        ,  216.        , 1118.        ,  832.        ,
       2051.        , 1668.        ,  250.        ,  630.        ,
        641.        ,  661.        ,  788.        ,   56.        ,
        656.        , 1513.        , 1181.        , 2875.        ,
        282.        ,   92.        , 2041.        ,  758.        ,
        241.        ,  346.        , 1032.        ,  285.        ,
       1500.        ,  778.        , 1732.        , 2280.        ,
        151.        , 1414.        ,  494.        , 3142.        ,
       1738.        ,  600.        ,  854.        ,   74.        ,
        637.        , 1212.        ,   59.        ,  686.        ,
       1162.        ,  495.        ,  636.        , 1712.        ,
       2331.        ,  624.        , 1537.        ,  691.        ,
       1622.        ,  207.        ,  593.        , 1180.        ,
        565.        , 1220.        , 1300.        , 1020.        ,
        657.        ])

In [110]:
merged['average_rain_fall_mm_per_year'] = merged['average_rain_fall_mm_per_year'].astype(float)

In [108]:
import numpy as np

In [109]:
merged['average_rain_fall_mm_per_year'] = merged['average_rain_fall_mm_per_year'].replace('..',np.nan)

In [111]:
merged.isnull().sum()

Area                             0
Crop_Name                        0
Year                             0
Yield                            0
Pesticide_value                  0
average_rain_fall_mm_per_year    6
avg_temp                         0
dtype: int64

In [112]:
merged['average_rain_fall_mm_per_year'] = merged['average_rain_fall_mm_per_year'].fillna(merged['average_rain_fall_mm_per_year'].mean())

In [132]:
df_encoded = pd.get_dummies(merged, columns=['Area', 'Crop_Name'], drop_first=True)

In [133]:
df_encoded.head()

,Year,Yield,Pesticide_value,average_rain_fall_mm_per_year,avg_temp,Area_Algeria,Area_Angola,Area_Argentina,Area_Armenia,Area_Australia,...,Area_Zimbabwe,Crop_Name_Maize,Crop_Name_Plantains and others,Crop_Name_Potatoes,"Crop_Name_Rice, paddy",Crop_Name_Sorghum,Crop_Name_Soybeans,Crop_Name_Sweet potatoes,Crop_Name_Wheat,Crop_Name_Yams
0,1990,36613,121.0,1485.0,16.37,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1991,29068,121.0,1485.0,15.36,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1992,24876,121.0,1485.0,16.06,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,1993,24185,121.0,1485.0,16.05,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,1994,25848,201.0,1485.0,16.96,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [135]:
X = df_encoded.drop(['Yield'], axis=1)
y = df_encoded['Yield']

In [136]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28248 entries, 0 to 28247
Columns: 113 entries, Year to Crop_Name_Yams
dtypes: bool(109), float64(3), int64(1)
memory usage: 3.8 MB

In [115]:
le = LabelEncoder()

X['Area'] = le.fit_transform(X['Area'])

X['Crop_Name'] = le.fit_transform(X['Crop_Name'])

In [118]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28248 entries, 0 to 28247
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28248 non-null  int64
 1   Crop_Name                      28248 non-null  int64
 2   Year                           28248 non-null  int64
 3   Pesticide_value                28248 non-null  float64
 4   average_rain_fall_mm_per_year  28248 non-null  float64
 5   avg_temp                       28248 non-null  float64
dtypes: float64(3), int64(3)
memory usage: 1.3 MB

In [137]:
X.head()

,Year,Pesticide_value,average_rain_fall_mm_per_year,avg_temp,Area_Algeria,Area_Angola,Area_Argentina,Area_Armenia,Area_Australia,Area_Austria,...,Area_Zimbabwe,Crop_Name_Maize,Crop_Name_Plantains and others,Crop_Name_Potatoes,"Crop_Name_Rice, paddy",Crop_Name_Sorghum,Crop_Name_Soybeans,Crop_Name_Sweet potatoes,Crop_Name_Wheat,Crop_Name_Yams
0,1990,121.0,1485.0,16.37,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,1991,121.0,1485.0,15.36,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1992,121.0,1485.0,16.06,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,1993,121.0,1485.0,16.05,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,1994,201.0,1485.0,16.96,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [138]:
X['average_rain_fall_mm_per_year'] = X['average_rain_fall_mm_per_year'].astype(float)

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [140]:
from sklearn.ensemble import RandomForestRegressor


model=RandomForestRegressor()

In [141]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [142]:
y_pred = model.predict(X_test)

In [143]:
print(y_pred)

[  5169.01  35977.91  68299.13 ... 160294.    12075.86   9550.05]

In [145]:
print("Mse:", mean_squared_error(y_test, y_pred))

Mse: 86330522.39175236

In [146]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

RMSE: 9291.421978995053

In [147]:
print("R² Score:", r2_score(y_test, y_pred))

R² Score: 0.9882802361379491